.partner{
    background-color:  #E5E5E5;
    &__title{
        @include font($color-green,600, 48px,$font-Josefin);
        text-align: center;
    }
    &__logo{
        margin-top: 66px;
        justify-content: space-between;
        padding-bottom: 125px;
    }

}